@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body{
    margin: 0;
    padding: 0;
    background-color: #C5F5CF;
    text-align: center;
    font-family: 'Open Sans';
    margin-top: 225px;
}

.n2{
    margin-top: 10px;
}

.n3{
    margin-top: 10px;
}

.n4{
    margin-top: 10px;
}

.n5{
    margin-top: 10px;
}

button{
    border: none;
    background-color: #F5C393;
    height: 25px;
    margin-top: 20px;
}